#game 
    background-color orange 
    width 400px
    height 400px

.inputs
    height 70%
    width 100%
    background-color purple
    display grid
    grid-template-columns repeat(2, 1fr)

#console 
    height 30%
    width 100%
    background-color pink 
    text-align center

.btns
    width 100%
    height 100% 
    border-radius 20px

#green 
    background-color rgb(64, 211, 78)

#red 
    background-color rgb(250, 41, 21)

#blue
    background-color rgb(1, 147, 233)

#yellow 
    background-color rgb(254, 243, 40) 

#counter 
    float left
    width 50%
    height 20%
    background-color blue 

.press
    float right
    width 50%
    height 20%
    background-color brown

#start
    background-color white
    float left 
    width 50%
    height 100%