#game {
  background-color: #ffa500;
  width: 400px;
  height: 400px;
}
.inputs {
  height: 70%;
  width: 100%;
  background-color: #800080;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#console {
  height: 30%;
  width: 100%;
  background-color: #ffc0cb;
  text-align: center;
}
.btns {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#green {
  background-color: #40d34e;
}
#red {
  background-color: #fa2915;
}
#blue {
  background-color: #0193e9;
}
#yellow {
  background-color: #fef328;
}
#counter {
  float: left;
  width: 50%;
  height: 20%;
  background-color: #00f;
}
.press {
  float: right;
  width: 50%;
  height: 20%;
  background-color: #a52a2a;
}
#start {
  background-color: #fff;
  float: left;
  width: 50%;
  height: 100%;
}
