@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

#game 
    position absolute
    background-color #393E40
    width 400px
    height 400px
    border-radius 50%
    box-sizing border-box
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    border 15px solid #393E40
    overflow auto

.inputs
    position relative;
    height 100%
    width 100%
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-column-gap 1.5em
    grid-row-gap 1.5em

#console 
    position absolute
    display grid
    grid-template-rows 1fr 1fr
    top 25%
    left 26%
    height 50%
    width 50%
    text-align center
    box-sizing border-box
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    border 10px solid #393E40
    border-radius 50%
    overflow hidden
    background-color #e6f9ff

#title
    position relative
    font-family "Alfa Slab One"
    color #E1E8EB
    letter-spacing .5em
    font-size 1.3em
    background-color #3B4447

#title > p
    position relative
    top 30%
    left 5%

#bottom 
    grid-row 2
    display grid 
    grid-template-columns repeat(4, 1fr)
    background-color #CFCFCF

#counter 
    grid-column 1/3
    grid-row 1
    width 100%

#startSec
    position relative
    grid-column 3
    grid-row 1
    top 3%
    width 100%

#start 
    position relative
    background-color rgb(64, 211, 78)
    width 40%
    height 20%
    border-radius 50%
    left 10%
    border 3px solid #484A4A

#strictSec
    position relative
    grid-column 4
    grid-row 1
    width 100%
    top 3%

#strict 
    position relative
    background-color #018EDF
    width 40%
    height 20%
    border-radius 50%
    left 10%
    border 3px solid #484A4A

#screen 
    position relative 
    width 60%
    background-color #1E2021
    color #CF2626
    left 25%
    top 3%

.text
    position relative 
    left -15% 
    font-size .7em

.dgrn
    background-color rgb(64, 211, 78)

.lgrn
    background-color #7AE184

.dred
    background-color rgb(250, 41, 21)

.lred
    background-color #FC6C5F;

.dblue
    background-color #018EDF

.lblue
    background-color #48BBFE

.dylw
    background-color #F4F401

.lylw
    background-color #FEFE5D